{% extends 'base.html' %}

{% block bodyblock %}

<div class="container">
    <br><br>
    <h3 class="display-6"> Welcome to End to Face Recognition Web App Project</h3>
        <br>
            <p>
                This course explains you the end to end flow of Face Recognition. 
                And this course can split into two parts.
            </p>
            <img src="/static/images/content/modules.svg" class="image-fluid" height="300" alt="">
            <p>
                In 1st module we majorly deals with training machine leanring model for face recognition. Whereas in second module 
                we focus our journey towards develop web app (API) and integrate our machine learning model.
            </p>
        <br>

        <h4>1. Training Face Recognition Model</h4>
        <p>Training face recognition model contains 4 steps. Those are
        </p> 
        <ol>
            <li>Data Gathering</li>
            <li>Data Preprocessing</li>
            <li>Feature Engineering</li>
            <li>Machine Learning Model</li>
            <li>Create ML Pipeline</li>
        </ol>
        <p>Below given is the training flow diagram and steps involved</p>
        <img class="image-fluid" height="300" src="/static/images/content/training_flow.svg" alt="">

        <h4>2. Web Application</h4>
        <p>After completion of Machine Learning module we will develop Flask based web application.
        </p> 
        <ol>
            <li>Develop Web App with
                <ul>
                    <li>Flask - Web Server Gateway Interphase (Backend)</li>
                    <li>HTML - Layout (Frontend)</li>
                    <li>Bootstrap - Styling (Frontend)</li>
                </ul>
            </li>
            <li>Interagte Machine Learning model</li>
            <li>Deploy Web App in Heroku Cloud</li>
        </ol>

        <h4>3. Deployment</h4>
        <p>We push our code in Github and connect our in heroku
        </p> 
        <img src="/static/images/content/deployment.svg" height="300" class="image-fluid" alt="">
</div>


{% endblock %}